*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../image/hiker-looks-up-at-vertical-mountain-peaks.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.navbar .navbar-brand {
    font-size: 30px;
  }

  
.social {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2%;
    transform: translateY(40%);
  }
  
  .social a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: rgba(251, 84, 112, 0.903);
    font-size: 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    padding: 20px;
  }
  
  .social a:hover {
    color: #111;
  }

.about .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    padding-top: 90px;
  }
  
  .about .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
  }
  .about .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    transform: translateX(-50%);
  }

  .about {
    padding-top: 70px;
    margin-left: 80px;
    margin-right: 80px;
    height: 100vh;
  }
  
  .about p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }

  .about .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 600px;
  }

  .about .btn:hover {
    background-color: crimson;
  }

  footer {
    background: #111;
    padding-top: 20px;
    color: #fff;
    padding-bottom: 0px;
    
  }
  
  footer p {
    text-align: center;
    font-size: 10px;
    padding-bottom: 10px;
  }

  .row a {
    color: #fff;
  }

  .row a:hover {
    color: crimson;
  }
 