*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar .navbar-brand {
  font-size: 30px;
}


body {
  background: url(../image/canoe-resting-on-small-beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  height: 100vh;
}

.projects .social {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2%;
    transform: translateY(40%);
  }

.projects .social a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  color: rgba(251, 84, 112, 0.903);
  font-size: 25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 20px;
  padding: 20px;
}

.projects .social a:hover {
  color: #111;
}

.projects .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 20px;
  padding-top: 90px;
}

.projects .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
.projects .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  background: #fff;
  transform: translateX(-50%);
}

footer {
    background: #111;
    padding-top: 20px;
    color: #fff;
  }
  
  footer p {
    text-align: center;
    font-size: 10px;
    padding-bottom: 10px;
  }

  .row a {
    color: #fff;
  }

  .row a:hover {
    color: crimson;
  }

